<%= form_with(model: dice_roll) do |form| %>
  <% if dice_roll.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dice_roll.errors.count, "error") %> prohibited this dice_roll from being saved:</h2>

      <ul>
        <% dice_roll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :dice_type_id, style: "display: block" %>
    <%= form.text_field :dice_type_id %>
  </div>

  <div>
    <%= form.label :roll_result, style: "display: block" %>
    <%= form.number_field :roll_result %>
  </div>

  <div>
    <%= form.label :quantity, style: "display: block" %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
